// Make existing home icon transparent
.wrapper-1BJsBx[data-list-item-id="guildsnav___home"] .childWrapper-anI2G9 {
    background-color: transparent;
}
.homeIcon-tEMBK1 path, .circleIconButton-jET_ig path {
    fill: transparent;
}

// Blue color
.theme-dark .wrapper-1BJsBx[data-list-item-id="guildsnav___home"], .theme-dark .circleIconButton-jET_ig {
    filter: brightness(8) hue-rotate(160deg) saturate(6);
    transition: all 0.2s;
}

// White on hover
.theme-dark .wrapper-1BJsBx[data-list-item-id="guildsnav___home"]:hover, .theme-dark .circleIconButton-jET_ig:hover {
    filter: brightness(10);
    background-color: transparent;
}

// Blue color
.theme-light .wrapper-1BJsBx[data-list-item-id="guildsnav___home"], .theme-light .circleIconButton-jET_ig {
    filter: brightness(2.5) hue-rotate(140deg) saturate(10);
    transition: all 0.2s;
}

// Black on hover
.theme-light .wrapper-1BJsBx[data-list-item-id="guildsnav___home"]:hover, .theme-light .circleIconButton-jET_ig:hover {
    filter: brightness(0);
    background-color: transparent;
}

// Home icon
.homeIcon-tEMBK1 {
    background: url("https://raw.githubusercontent.com/Xerousso/NautilusBlue/master/assets/home.svg");
    background-repeat: no-repeat;
    position: center;
    width: 35px;
    height: 35px;
    margin-top: 20px;
}

// Discovery and add server background settings
.circleIconButton-jET_ig {
    background-color: transparent !important;
    background-repeat: no-repeat;
    position: center;
    margin-top: 0;
}

// Add server background
.circleIconButton-jET_ig[data-list-item-id="guildsnav___create-join-button"] svg {
    background: url("https://raw.githubusercontent.com/Xerousso/NautilusBlue/master/assets/plus.svg");
    width: 30px;
    height: 30px;
}

// Discovery background
.circleIconButton-jET_ig[data-list-item-id="guildsnav___guild-discover-button"] svg {
    background: url("https://raw.githubusercontent.com/Xerousso/NautilusBlue/master/assets/compass.svg");
    width: 35px;
    height: 35px;
}

// Reoder buttons so that discovery and add server are above server list
.scroller-2TZvBN {
    display: flex;
    flex-flow: column;
}
.scroller-2TZvBN .tutorialContainer-SGrQ1h {
    order: -1;
}
.scroller-2TZvBN .listItem-2P_4kh {
    order: -2;
}
.scroller-2TZvBN .tutorialContainer-1v44GL {
    order: -2;
}

// Remove guild separator line; line appears directly under home button, with discovery icon now below it no longer separates servers but rather the home
// and discovery buttons, which is not useful
.guildSeparator-3s64Iy {
    display: none;
}

.container-3baos1 > .flex-1xMQg5 :nth-child(3) {
    // Move settings button to bottom of server list
    position: fixed;
    bottom: 10px;
    left: 10px;

    // Button Size
    width: 50px;
    height: 50px;
    
    // Remove button background on hover
    background: transparent;

    .contents-18-Yxp {
        svg {
            // Icon Size
            width: 35px;
            height: 35px;

            // Icon Color
            color: var(--accent-primary);

            transition: color 0.2s;
        }

        svg:hover {
            color: white;
        }
    }
}

// Reduce server list height by 70px to account for settings button
.wrapper-1Rf91z { margin-bottom: 70px; }
