.form-2fGMdU { padding: 0px; }
.inner-MADQqc { padding-top: 4px; }
.channelTextArea-rNsIhG { margin-bottom: 0px; }

.base-gE7OpD {
    top: -24px;
    background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
    border-radius: 0px;
    min-height: 53px;
}
