.form-2fGMdU {
    padding: 0px;

    .base-gE7OpD {
        top: -24px;
        background-color: var(--background-primary);
    }

    .channelTextArea-rNsIhG {
        margin-bottom: 0px;
        min-height: 53px;
        background-color: var(--background-secondary);
        border-radius: 0px;
    
        .container-2fRDfG {
            border-radius: 0px;
        }
    
        .scrollableContainer-2NUZem {
            border-radius: 0px;
            min-height: 52px;
            width: 100%;
    
            .inner-MADQqc {
                padding-top: 4px;
            }
        }
    }
}
