:root {
    --scrollbar-thin-thumb: var(--scrollbar-thumb);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--scrollbar-thumb);
    --scrollbar-auto-track: var(--scrollbar-track);
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-track);
    --background-floating: var(--background-secondary-alt);
}

// Make header square (i.e. not rounded)
.sidebar-2K8pFh {
    border-radius: 0 !important;
}

// Add border line
.container-1taM1r:not(.hasBanner-2SrLR3) .header-2V-4Sw, .animatedContainer-1NSq4T, .searchBar-6Kv8R2, .title-3qD0b- {
    border-bottom: 3px var(--accent-primary) solid !important;
    box-sizing: border-box;
    background-color: var(--background-secondary-alt);
}

// Set border line for right side of header to alternate accent color
.title-3qD0b- {
    border-color: var(--accent-secondary) !important;
    background-color: var(--background-tertiary) !important;
}

// Remove discord defauly channel select background
.content-1x5b-n {
    background-color: transparent !important;
}

// Add invisible border to all channels (basically used for padding until the border color is changed)
.wrapper-2jXpOf {
    border-left: 3px solid !important;
    border-color: transparent !important;
    transition: border-color 0.15s, background-color 0.15s;
}

// Unread channels
.wrapper-2jXpOf.modeUnread-1qO3K1 {
    border-color: var(--accent-tertiary) !important;
    background-color: var(--accent-tertiary-alt);
}

.wrapper-2jXpOf.modeMuted-onO3r- {
    background-color: rgba(0, 0, 0, 0.25);
}

// Hovered channels (unread or read, not selected)
.wrapper-2jXpOf:hover {
    border-color: var(--accent-secondary-alt) !important;
    background-color: var(--accent-tertiary-alt);
}

// Selected channel
.wrapper-2jXpOf.modeSelected-346R90 {
    border-color: var(--accent-primary) !important;
    background-color: var(--accent-tertiary);
}

// Disable default discord unread indicator
.unread-2lAfLh {
    display: none;
}

// Remove channel padding (replaced by left border from earlier)
.content-1x5b-n {
    padding-left: 0;
}

.mentioned-xhSam7:before {
    background-color: var(--mentioned-color);
}

.headerNormal-T_seeN {
    background-color: var(--card-header) !important;
}

.body-3iLsc4, .footer-1fjuF6 {
    background-color: var(--card-body) !important;
}

.container-1D34oG {
    background-color: var(--background-primary) !important;
}

.colorGrey-2DXtkV, .wrapper-3Z-vWm, .card-3Qj_Yx, .footer-2gL1pp {
    background-color: var(--background-secondary-alt) !important;
}

.root-1gCeng {
    background-color: var(--background-secondary) !important;
}

[user_by_bdfdb*="249426653774741505"],
[data-user-id*="249426653774741505"] {
    --user-background: url('https://i.imgur.com/5MH84pd.gif');
}
