.wrapper-1BJsBx[data-list-item-id="guildsnav___home"] .childWrapper-anI2G9 {
    background-color: transparent;
}

.wrapper-1BJsBx[data-list-item-id="guildsnav___home"] {
    filter: brightness(8) hue-rotate(160deg) saturate(6);
    transition: all 0.2s;
}

.wrapper-1BJsBx[data-list-item-id="guildsnav___home"]:hover {
    filter: brightness(10);
}

.homeIcon-tEMBK1 {
    background: url("https://svgshare.com/i/TZJ.svg");
    background-repeat: no-repeat;
    position: center;
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
.homeIcon-tEMBK1 path {
    fill: transparent;
}

.circleIconButton-jET_ig {
    filter: brightness(8) hue-rotate(160deg) saturate(6);
    background-color: transparent !important;
    transition: all 0.2s;
}

.circleIconButton-jET_ig:hover {
    filter: brightness(10);
    background-color: transparent;
}

.circleIconButton-jET_ig[data-list-item-id="guildsnav___create-join-button"] svg {
    background: url("https://svgshare.com/i/TZx.svg");
    background-repeat: no-repeat;
    position: center;
    width: 30px;
    height: 30px;
    margin-top: -10px;
}

.circleIconButton-jET_ig[data-list-item-id="guildsnav___guild-discover-button"] svg {
    background: url("https://svgshare.com/i/TZY.svg");
    background-repeat: no-repeat;
    position: center;
    width: 35px;
    height: 35px;
    margin-top: -10px;
}

.circleIconButton-jET_ig path {
    fill: transparent;
}


.scroller-2TZvBN {
    display: flex;
    flex-flow: column;
}
.scroller-2TZvBN .tutorialContainer-SGrQ1h {
    order: -1;
}
.scroller-2TZvBN .listItem-2P_4kh {
    order: -2;
}
.scroller-2TZvBN .tutorialContainer-1v44GL {
    order: -2;
}
.guildSeparator-3s64Iy {
    display: none;
}