/*

To disable certain things here, you can comment out the line. To do so, simply append "// " to the front like so:
  Original:
    @use "icons.scss";
  Commented out:
    // @use "icons.scss";

*/

// Comment out this line if you do not want the home, add server and discovery buttons in the server list to change.
@use "icons.scss";

// Comment out this line if you do not want the message box to change.
@use "message_box.scss";

// Rest of the theme source code, for stuff like channel indicators
@use "source.scss";

// Comment out this line if you do not want to replace the title bar on windows.
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");

.theme-dark {
    --accent-primary: rgb(194, 234, 255);
    --accent-secondary: rgba(194, 234, 255, 0.8);
    --accent-secondary-alt: rgba(194, 234, 255, 0.5);
    --accent-tertiary: rgba(194, 234, 255, 0.2);
    --accent-tertiary-alt: rgba(194, 234, 255, 0.05);

    --header-primary: #fff;
    --header-secondary: #b9bbbe;

    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --textbox-markdown-syntax: #8e9297;

    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;

    --background-primary: #05070a;
    --background-secondary: #080a0f;
    --background-secondary-alt: #0d111a;
    --background-tertiary: #0a0d13;

    --mentioned-color: var(--accent-primary);
    --background-mentioned: rgba(130, 150, 255, 0.03);
    --background-mentioned-hover: rgba(130, 150, 255, 0.045);

    --background-message-hover: rgba(0, 0, 0, 0.15);

    --scrollbar-thumb: #202833;
    --scrollbar-track: #12141d;

    --channeltextarea-background: var(--background-tertiary);

    --card-header: #080a0e;
    --card-body: #10121a;
}
